* { box-sizing: border-box; }
body, html { height: 100%; }
body { background-color: #000000; color: #ffffff; }
h1 { font-family: "Playfair Display"; font-size: 30px; padding: 10px 0px; margin: 0px; }
.field-box { border: 2px solid #d0d0d0; float: left; }
.field { position: relative; width: 1024px; height: 512px;}
.field .tile {  width: 32px; height: 32px; background-size: 100%; background-image: url(images/tile-_small.jpg); z-index: 5; }
.field .tileW { width: 32px; height: 32px; background-image: url(images/tile-W_small.jpg); background-repeat: no-repeat;}
.field .tileE { width: 32px; height: 32px; background-image: url(images/tile-E_small.jpg); z-index: 10; }
.field .tileP { background-image: url(images/tile-P_small.jpg); z-index: 20; width: 32px; height: auto;}
.field .tileHP { width: 32px; height: 32px; background-image: url(images/tile-HP_small.jpg); z-index: 9; }
.field .tileSW { width: 32px; height: 32px; background-image: url(images/tile-SW_small.jpg); z-index: 9; }
.field .tileE .health { background-color: #ff0000; z-index: 11; position: absolute; left: 0px; top: 0px; height: 3px; }
.field .tileP .health { background-color: #00ff00; z-index: 11; position: absolute; left: 0px; top: 0px; height: 3px; }
.inventory-box { border: 2px solid #d0d0d0; float: left; }
.inventory { position: relative; width: 800px; height: 32px; }
.cl { clear: both; display: block; }
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dieScreen {
    margin: auto;
    width: 100%;
    z-index: 1000;
    color: red;
    text-align: center;
}